{% extends 'base.html' %}
{% block content %}
<div>
  <a href="{% url 'algorithms:problem_index' %}" class="text-decoration-none">
    <h2 class='d-inline fs-2 fw-bold text-black'>알고리즘</h2>
  </a>
  <hr>
</div>

<div class="row flex-nowrap">
  <div class="sidebar col-2">
    <table class="table my-1">
      <thead>
        <tr>
          <th scope="col" class="fs-5">레벨 필터링</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <div>
              <form method="GET" action="{% url 'algorithms:problem_index' %}">
                <div class="form-check">
                  <input class="form-check-input" type="radio" id="inlineradio전부" name="level" value="전부" checked>
                  <label for="inlineradio전부">전부</label>
                </div>
                {% for level in levels  %}
                <div class="form-check">
                  <input class="form-check-input" type="radio" id="inlineradio{{ level }}" name="level" value={{ level }}>
                  <label for="inlineradio{{ level }}">{{ level }}</label>
                </div>
                {% endfor %}
                <button type="submit" class='btn btn-dark my-2'>필터링</button>
              </form>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <br>
    <table class="table my-1">
      <thead>
        <tr>
          <th scope="col" class="fs-5">문제 번호 검색</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <form method="GET" action="{% url 'algorithms:problem_index' %}">
              <input type="number" class="form-control mt-2" id="formInput" name="num" placeholder="번호를 입력하세요">
              <button type="submit" class='btn btn-dark my-2'>검색</button>
            </form>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="bady col my-1 mx-5 ">
    <table class="table table-hover" style="width: 90%;">
      <thead>
        <tr class="fs-5 text-center">
          <th scope="col" class="col-2">문제번호</th>
          <th scope="col" class="col-4">제목</th>
          <th scope="col" class="col-2">레벨</th>
          <th scope="col" class="col-1">타입</th>
        </tr>
      </thead>
        {% for problem in problems  %}
          <tr>
            <th scope="row" class="text-center">{{ problem.problem_number }}</th>
            <td>
              <a href="{% url 'algorithms:problem_detail' problem.pk %}" class="text-decoration-none text-black">
                <div>
                  {{ problem.title }}
                  {% if problem.solution_set.all|length %}
                  <span style='font-size:12px;'>[{{ problem.solution_set.all|length }}]</span>
                  {% endif %}
                </div>
              </a>
            </td>
            <td class="text-center">{{ problem.level }}</td>
            <td class="text-center">{{ problem.type }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <div class="d-flex justify-content-between align-items center py-2">
      <div class="left" style='width:250px;'>
        <a href="{% url 'algorithms:problem_create' %}" class='btn btn-dark'>NEW</a>
      </div>
      {# 페이지네이션 #}
      <div class="mid text-center" style='width:400px;'>
        <ul class="pagination justify-content-center pagination-active-bg-dark"> 
          {% if previous_page %}  {# previous_page가 0이 아니면 뒤로 가는 버튼 활성화 #}
            <li class="page-item">
              <a class="page-link" href="?page={{ previous_page }}&amp;level={{ current_level }}&amp;num={{ search_num }}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
          {% endif %}
          {% for page in page_range %} {# 포문 돌기 #}
            {% if page == current_page %} {# 이건 버튼 활성화 하기 위한 if문 #}
              <li class="page-item active">
                <a class="page-link" href="?page={{ page }}&amp;level={{ current_level }}&amp;num={{ search_num }}">{{ page }}</a>
              </li>
            {% else %}
              <li class="page-item">
                <a class="page-link" href="?page={{ page }}&amp;level={{ current_level }}&amp;num={{ search_num }}">{{ page }}</a>
              </li>
            {% endif %}
          {% endfor %}
          {% if next_page %} {# next_page가 0이 아니면 뒤로 가는 버튼 활성화 #}
            <li class="page-item">
              <a class="page-link" href="?page={{ next_page }}&amp;level={{ current_level }}&amp;num={{ search_num }}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          {% endif %}
        </ul>
      </div>
      <div class="right text-end" style='width:400px;'>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

{% block scripts %}
<style>
.page-item.active .page-link {
  background-color: black;
  border-color: black
}
.page-link {
  color: black;
}
</style>
{% endblock scripts %}