{% extends 'base.html' %}

{% block content %}

<div>
  <a href="{% url 'algorithms:problem_index' %}" class="text-decoration-none">
    <h2 class='d-inline fs-2 fw-bold text-black'>알고리즘</h2>
  </a>
  <hr>
</div>

<ul class="nav nav-tabs my-3 fs-6 fw-bold">
  <div class="collapse navbar-collapse d-flex justify-content-evenly">
    <li class="nav-item">
      <a class="nav-link" aria-current="page" href="{% url 'algorithms:problem_detail' problem.pk %}">문제</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'algorithms:testcase_index' problem.pk %}">
        테스트케이스
        {% if problem.testcase_set.all|length %}
        <span style='font-size:12px;'>[{{ problem.testcase_set.all|length }}]</span>
        {% endif %}
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="{% url 'algorithms:solution_index' problem.pk %}">
        해답
        {% if problem.solution_set.all|length %}
        <span style='font-size:12px;'>[{{ problem.solution_set.all|length }}]</span>
        {% endif %}
      </a>
    </li>
  </div>
</ul>


<a href="{{ problem.problem_url }}" target="_blank" class="text-decoration-none">
  <span class="fw-bold text-dark fs-1">{{ problem.title }}</span>
</a><br>
<span>{{ problem.level }}</span>
<hr>
{% for solution in solutions %}
<div class="container border">
  <div class="d-flex justify-content-between py-3">
    <p>작성자 : {{ solution.user }} | {{ solution.created_string }}</p>
    <div class="d-flex">
      <p class="py-1">좋아요 : <span id="like-count-{{ solution.pk }}">{{ solution.like_users.all|length }}</span>개</p>
      <form class="like-form px-3" data-solution-id="{{ solution.pk }}" data-problem-id="{{ problem.pk }}">
        {% csrf_token %}
        {% if user in solution.like_users.all %}
          <button id="like-{{ solution.pk }}">좋아요 취소</button>
        {% else %}
          <button id="like-{{ solution.pk }}">좋아요</button>
        {% endif %}
      </form>
    </div>
  </div>
  <h4 class="fw-bold">힌트</h4><hr>
  <div class="border rounded px-4">
    <pre class="my-2">{{ solution.hint }}</pre>
  </div>

  <div class="accordion py-3" id="accordionFlushExample">
    <div class="accordion-item bg-light">
      <h2 class="accordion-header" id="flush-heading{{ solution.pk }}">
        <button class="accordion-button collapsed fw-bold fs-5" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse{{ solution.pk }}" aria-expanded="false" aria-controls="flush-collapse{{ solution.pk }}">
          코드보기
        </button>
      </h2>
      <div id="flush-collapse{{ solution.pk }}" class="accordion-collapse collapse" aria-labelledby="flush-heading{{ solution.pk }}" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
          <h4 class="fw-bold">코드</h4><hr>
          
          <div class="border rounded px-4">
            <pre class="my-2">{{ solution.code }}</pre>
          </div><br>
          <h4 class="fw-bold">설명</h4><hr>
          <div class="border rounded px-4">
            <pre class="my-2">{{ solution.description }}</pre>
          </div>
        </div>
      </div>
    </div>
  </div>
  <h4 class="fw-bold">댓글</h4><hr>
  <table class="table table-borderless table-hover">
    <tbody>
    {% for comment in solution.comment_set.all %}
      <tr>
        <th class="col-1">{{ comment.user }} : </th>
        <td class="col-6">{{ comment.content }}</td>
        <td class="col-1">{{ comment.created_string }}</td>
        
        <td class="col-1">
          {% if request.user == comment.user %}
            <a href="{% url 'algorithms:solution_comment_delete' problem.pk comment.pk %}" class="text-black">삭제</a>
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
      <form action="{% url 'algorithms:solution_comment' problem.pk solution.pk %}" method="POST">
    {% csrf_token %}
    <input type="text" name="content" maxlength="50" class="form-control d-inline" required id="id_content" style="width: 90%;">
    <input type="submit" class="btn btn-dark mb-1 mx-1">
  </form><br>
</div>
{% if request.user == solution.user %}
  <div class="d-flex justify-content-start py-2">
    <div class="left" style='width:100px;'>
      <a href="{% url 'algorithms:solution_update' problem.pk solution.pk %}" class='btn btn-dark'>UPDATE</a>
    </div>
    <div class="left" style='width:100px;'>
      <form action="{% url 'algorithms:solution_delete' problem.pk solution.pk %}" method="POST">
        {% csrf_token %}
        <input type="submit" value="DELETE" class='btn btn-dark'>
      </form>
    </div>
  </div>
{% endif %}
<hr>
{% endfor %}


<div class="d-flex justify-content-start">
  <div class="left" style='width:80px;'>
    <a href="{% url 'algorithms:solution_create' problem.pk %}" class='btn btn-dark'>NEW</a>
  </div>
  <div class="center" style='width:100px;'>
    <a href="{% url 'algorithms:problem_index' %}" class='btn btn-dark'>BACK</a>
  </div>
</div>
{% endblock content %}

{% block scripts %}
<script>
  const forms = document.querySelectorAll('.like-form')
  const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value
  forms.forEach(function (form) {
    form.addEventListener('submit', function (event) {
      event.preventDefault()
      const { solutionId, problemId } = event.target.dataset
      axios({
        url: `/algorithms/${problemId}/solution/${solutionId}/likes/`,
        method: 'post',
        headers: {'X-CSRFToken': csrftoken}
      })
        .then(response => {
          const { liked, count } = response.data
          const likeBtn = document.querySelector(`#like-${solutionId}`)
          if (liked) {
            likeBtn.innerText = '좋아요 취소'
          } else {
            likeBtn.innerText = '좋아요'
          }
          const likeCount = document.querySelector(`#like-count-${solutionId}`)
          likeCount.innerText = count
        })
        .catch(error => {
          if (error.response.status === 401) {
            window.location.href = '/accounts/login/'
          }
        })
    })
  })
</script>
{% endblock scripts %}