{% extends 'base.html' %}

{% block content %}
<div>
  <a href="{% url 'algorithms:problem_index' %}" class="text-decoration-none">
    <h2 class='d-inline fs-2 fw-bold text-black'>알고리즘</h2>
  </a>
  <hr>
</div>

<h2 class='d-inline fs-2 fw-bold'>CREATE</h2>
<hr>
<form action="" method='POST'>
  {% csrf_token %}
  {{ form.as_p }}
  <div class="d-flex justify-content-start">
    <div class="left" style='width:100px;'>
      <input type="submit" value="CREATE" class='btn btn-dark'>
    </div>
    <div class="center" style='width:100px;'>
      <a href="{% url 'algorithms:testcase_index' problem.pk %}" class='btn btn-dark'>BACK</a>
    </div>
  </div>
</form>
{% endblock content %}