{% extends 'base.html' %}

{% block content %}
  <h2 class='d-inline fs-2 fw-bold'>{% block subtitle %}{% endblock subtitle %}</h2>
  <hr>
  <div class="row my-5">
    <div class="col-2">
      <table class="table">
        <thead>
          <tr>
            <th scope="col"><p class="fs-5 fw-bold my-1">HOT 게시글</p></th>
          </tr>
        </thead>
        <tbody>
          {% for likes_article in likes_articles %}
          <tr>
            <td><a href="">{{ likes_article.title }}</a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <table class="table">
        <thead>
          <tr>
            <th scope="col"><p class="fs-5 fw-bold my-1">댓글 많은 게시글</p></th>
          </tr>
        </thead>
        <tbody>
          {% for comments_article in comments_articles %}
          <tr>
            <td><a href="">{{ comments_article.title }}</a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="col-8 mx-5">
      {% block detail %}
      {% endblock detail %}
    </div>
  </div>
{% endblock content %}

{% block scripts %}
  {% block script %}
  {% endblock script %}
{% endblock scripts %}


