{% extends 'anonymous_base.html' %}
{% load bootstrap5 %}

{% block subtitle %}
  익명게시판
{% endblock subtitle %}

{% block detail %}
<table class="table my-1">
  <thead>
    <tr class="fs-5 text-center">
      <th scope="col" class="col-2">번호</th>
      <th scope="col" class="col-5">제목</th>
      <th scope="col" class="col-2">작성자</th>
      <th scope="col" class="col-2">등록일</th>
      <th scope="col" class="col-1">조회</th>
    </tr>
  </thead>
  <tbody>
    {% for anonymous in anonymouses %}
      <tr class="current">
        <th scope="row" class="text-center">{{ anonymous.pk }}</th>
        <td>
          <a href="" class="text-decoration-none text-black">
            {{ anonymous.title }} 
            {% if anonymous.comment_set %}
            <span style='font-size:12px;'>[{{ anonymous.comment_set.all|length }}]</span>
            {% endif %} 
          </a>
        </td>
        <td class="text-center">익명</td>
        <td class="text-center">{{ anonymous.created_string }}</td>
        <td class="text-center">{{ anonymous.view_cnt }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
<br>
<div class="d-flex justify-content-between align-items center">
  <div class="left" style='width:400px;'>
    <a href="" class='d-inline btn btn-dark d-inline'>NEW</a>
  </div>
  <div class="mid text-center black d-flex justify-content-center" style='width:400px;'>
    {% comment %} {% bootstrap_pagination anonymouses %} {% endcomment %}
  </div>
  <div id="searchApp" class="right text-end" style='width:400px;'>
    <form class="d-flex align-items-center">
      <input id="searchInput" type="text" style="width:200px;" class="d-inline form-control">
      <button class="btn btn-dark mx-2" @click.prevent="search">검색</button>
    </form>
  </div>
</div>
{% endblock %}  

{% block script %}
<script>
  const searchApp = new Vue({
    el: '#searchApp',
    methods: {
      search: function(event) {
        const keyword = document.querySelector('#searchInput').value

        axios({
          method:'get',
          url: `${keyword}`
        })
          .then(function(res){
            console.log(res.data)
            const movies = res.data
            const movieTable = document.querySelector('#recommendedMovies')
            const rms = document.querySelectorAll('.rm')
            
            rms.forEach(function(rm) {
              rm.remove()
            })
        })
        
      }
    }
    
  })
</script>
  
{% endblock script %}
