{% extends 'anonymous_base.html' %}

{% block subtitle %}
  익명게시판
{% endblock subtitle %}

{% block detail %}
  <section>
    <form action="{% url 'anonymouses:article_update' article.pk %}" method="POST">
      {% csrf_token %}
      <div class="mb-3">
        <p>{{ article_form.title }}</p>
        {{ article_form.media }}
        <p style="width:800px;">{{ article_form.content | safe }}</p>
      </div>
      <input type="submit" value="수정" class="btn btn-dark">
    </form>
  </section>
{% endblock detail %}